### TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
my_string = input('enter a string')
reversed_my_string = my_string[::-1]
print('the reverse of',my_string, ' is ', reversed_my_string)

enter a string hello world

the reverse of hello world  is  dlrow olleh

2. Check if a string is a palindrome.

In [4]:
my_string = input('enter a string')
if my_string == my_string[::-1]:
    print('The string is a palindrome')
else:
    print('the string is not a palindrome')

enter a string miim

The string is a palindrome

3. Convert a string to uppercase.

In [5]:
my_string = input('enter a string')
print(my_string.upper())

enter a string Heelo

HEELO

4. Convert a string to lowercase.

In [1]:
my_string = input('enter a string')
print(my_string.lower())

enter a string HESLSOsasdaIOO12

heslsosasdaioo12

5. Count the number of vowels in a string.

In [10]:
vowels = ['a','e','i','o','u']
count=0
my_string = input('enter a string')
for x in my_string.lower():
    if x in vowels:
        count+=1
    else:
        pass

print(f'Total vowels in the string is {count}')

enter a string HELLO WORLD

Total vowels in the string is 3

6. Count the number of consonants in a string.

In [23]:
vowels = ['a','e','i','o','u']
count=0
my_string = input('enter a string')
for x in my_string.lower():
    if x not in vowels:
        if x.isnumeric()==0:
            count=count+1
        
    else:
        pass

print(f'Total consonants in the string is {count}')

enter a string 121

Total consonants in the string is 0

7. Remove all whitespaces from a string.

In [25]:
my_string = input('enter a string')
new_string = my_string.replace(" ","")
print(new_string)

enter a string H E L L O

HELLO

8. Find the length of a string without using the `len()` function.

In [27]:
my_string = input('enter a string')
count=0
for x in my_string:
    count+=1

print(f'the length of the string is {count}')

enter a string Hello

the length of the string is 5

9. Check if a string contains a specific word.

In [32]:
my_string = input('enter a string')
my_word = input('enter word')
if my_word in my_string:
    print(f'the word {my_word} is in the string {my_string}')
else:
    print(f'the word {my_word} is not in the string {my_string}')

enter a string Hello World
enter word or

the word or is in the string Hello World

10. Replace a word in a string with another word.

In [34]:
my_string = input('enter a string')
replaced_word = input('enter the word to replace')
new_word = input('enter a word')
new_string = my_string.replace(replaced_word,new_word)
print(new_string)

enter a string Hello World
enter the word to replace World
enter a word Smiti

Hello Smiti

### List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [36]:
my_list=[]
for x in range(1,11):
    my_list.append(x)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [41]:
count=0
my_list=[]
my_string = input('enter a string')
my_list.extend(my_string)
print(my_list)
for x in my_list:
    count+=1
print(count)

enter a string hello

['h', 'e', 'l', 'l', 'o']
5

3. Append an element to the end of a list.

In [10]:
l=[1,2]
x=input("enter something to append to the list")
l.append(x)
l

enter something to append to the list hello

[1, 2, 'hello']

4. Insert an element at a specific index in a list.

In [3]:
l=[1,2,3,4]
x=123
#putting x at index 2
l.insert(2,x)

In [4]:
l

[1, 2, 123, 3, 4]

5. Remove an element from a list by its value.

In [5]:
l=[1,2,3,4,5]
l.remove(2)

In [6]:
l

[1, 3, 4, 5]

6. Remove an element from a list by its index.

In [7]:
l=[1,2,3,4,5,6,7,8,9]
l.pop(5)

6

In [8]:
l

[1, 2, 3, 4, 5, 7, 8, 9]

7. Check if an element exists in a list.

In [14]:
l=[1,2,3,4,5,6,7,8,9]
x=int(input('enter a num to check in List'))
if x in l:
     print('True')
else:
    print('False')

enter a num to check in List 0

False

8. Find the index of the first occurrence of an element in a list.

In [17]:
l=[1,2,3,4,5,6,7,8,9,8]
l.index(8)

7

9. Count the occurrences of an element in a list.

In [18]:
l=[1,1,1,2,3,4,2,2,5,5,5,5]
l.count(5)

4

10. Reverse the order of elements in a list.

In [19]:
l=[1,1,1,2,3,4,2,2,5,5,5,5]
l=l[::-1]
l

[5, 5, 5, 5, 2, 2, 4, 3, 2, 1, 1, 1]

In [1]:
X='abcd'

In [2]:
X.upper()

'ABCD'

In [3]:
X

'abcd'

## Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [43]:
t=tuple(range(1,6))
t

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [9]:
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [10]:
t=(1,2,3,4,5)
count=0
for x in t:
    count+=1
print(count)

5

4. Count the occurrences of an element in a tuple.

In [13]:
t=(1,2,3,4,5,1,2,2,3,4,4,4,5,5,6,66,6,6)
t.count(66)

1

5. Find the index of the first occurrence of an element in a tuple.

In [14]:
t=(1,2,3,4,5,1,2,2,3,4,4,4,5,5,6,66,6,6)
t.index(3)

2

6. Check if an element exists in a tuple.

In [17]:
t=(1,2,3,4,5,1,2,2,3,4,4,4,5,5,6,66,6,6)
x = int(input('enter num to check'))
if x in t:
    print('True')
else:
    print('False')

enter num to check 67

False

7. Convert a tuple to a list.

In [19]:
t=(1,2,3,4,5,1,2,2,3,4,4,4,5,5,6,66,6,6)
x=list(t)
x

[1, 2, 3, 4, 5, 1, 2, 2, 3, 4, 4, 4, 5, 5, 6, 66, 6, 6]

8. Convert a list to a tuple.

In [21]:
t=tuple(x)
t

(1, 2, 3, 4, 5, 1, 2, 2, 3, 4, 4, 4, 5, 5, 6, 66, 6, 6)

9. Unpack the elements of a tuple into variables.

In [23]:
t1=(1,2,3,4)
a,b,c,d = t1
print(a)
print(b)
print(c)
print(d)

1
2
3
4

10. Create a tuple of even numbers from 1 to 10.

In [46]:
t=tuple(range(2,11,2))
t

(2, 4, 6, 8, 10)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [2]:
s=set(range(1,5))

In [3]:
s

{1, 2, 3, 4}

2. Add an element to a set.

In [7]:
s.add(6)
s

{1, 2, 3, 4, 6}

3. Remove an element from a set.

In [8]:
s.remove(6)
s

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [11]:
s
x=4
if x in s:
    print('True')
else:
    print('False')

True

5. Find the length of a set without using the `len()` function.

In [14]:
count=0
s={1,2,3,4,5,6,5}
for x in s:
    count+=1
print(count)

6

6. Clear all elements from a set.

In [15]:
s.clear()

In [16]:
s

set()

7. Create a set of even numbers from 1 to 10.

In [17]:
s1= set(range(2,11,2))

In [18]:
s1

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [20]:
s2 = set(range(1,11,2))

In [21]:
s2

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [28]:
s1
s2
s3=s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [35]:
s4=set([2,4,1,2])

In [36]:
s4.intersection(s3)

{1, 2, 4}

## TOPIC: String Based Assignment Problem 11-20

11. Count the occurrences of a word in a string.

In [2]:
s = 'sup hello world hello India'
s.count('hello')

2

12. Find the first occurrence of a word in a string.

In [3]:
s.split().index('hello')

1

13. Find the last occurrence of a word in a string.

In [9]:
s.rfind('el')

17

14. Split a string into a list of words.

In [10]:
l1=s.split(' ')

In [11]:
l1

['sup', 'hello', 'world', 'hello', 'India']

15. Join a list of words into a string.

In [13]:
" ".join(l1)

'sup hello world hello India'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [1]:
s = 'hello world hello India'
s2 = s.replace(" ","_")
s2

'hello_world_hello_India'

17. Check if a string starts with a specific word or phrase.

In [4]:
s = 'hello world hello India'
x = 'hello world'
if s.find(x) == 0:
    print(f'the string starts with {x}')
else:
    print(f'the string doesnt start with {x}')

the string starts with hello world

18. Check if a string ends with a specific word or phrase.

In [7]:
s = 'hello world hello India'
x = 'hello world'
s.endswith(x)

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [8]:
s = 'hello world hello India'
s3=s.title()
s3

'Hello World Hello India'

20. Find the longest word in a string.

In [20]:
s = ' A quick brown fox jumps over the lazy dog abcde'
l = s.split(" ")
word_len = 0
word = ""
for x in l:
    if len(x)>word_len:
        word_len = len(x)
        word = x
    elif len(x) == word_len:
        word = word + ", " +x
print(word)

quick, brown, jumps, abcde

## List Based Practice Problem 11-20

11. Sort a list in ascending order.

In [1]:
l=[5,6,1,2,33,123,4,2,1]
l.sort()

In [2]:
l

[1, 1, 2, 2, 4, 5, 6, 33, 123]

12. Sort a list in descending order.

In [3]:
l=[5,6,1,2,33,123,4,2,1]
l.sort(reverse = True)

In [4]:
l

[123, 33, 6, 5, 4, 2, 2, 1, 1]

13. Create a list of even numbers from 1 to 20.

In [5]:
l1=list(range(2,21,2))
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
l2=list(range(1,21,2))
l2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [8]:
l=list(range(1,21))
sum(l)

210

16. Find the maximum value in a list.

In [9]:
l=list(range(1,21))
max(l)

20

17. Find the minimum value in a list.

In [22]:
l
min(l)

1

18. Create a list of squares of numbers from 1 to 10.

In [23]:
l2=[]
for x in range(1,11):
    l2.append(x*x)
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [25]:
import random 
l3 = random.sample(range(1,1000),10)

In [26]:
l3

[154, 4, 452, 114, 567, 511, 883, 802, 545, 771]

In [29]:
random.randint(1,100)

39

20. Remove duplicates from a list.

In [35]:
l1 = [11,22,3,1,1,2,22,11,11,3,4,4,5,5,4,1]
l1=set(l1)
l1=list(l1)
l1

[1, 2, 3, 4, 5, 11, 22]

## Tuple Based Practice Problem 11-20

11. Create a tuple of odd numbers from 1 to 10.

In [36]:
t = tuple(range(1,11,2))

In [37]:
t

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [38]:
t1 = tuple(range(2,11,2))

In [39]:
t1

(2, 4, 6, 8, 10)

In [41]:
t3 = t1 + t

In [42]:
t3

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [43]:
t4 = t*3

In [44]:
t4

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

14. Check if a tuple is empty.

In [61]:
t=()
if len(t)==0:
    print('Empty Tuple')
else:
    print('Not Empty Tuple')

Empty Tuple

15. Create a nested tuple.

In [65]:
t=(1,2,(2,3,(3,4)))

In [68]:
t

(1, 2, (2, 3, (3, 4)))

16. Access the first element of a nested tuple.

In [69]:
t[2][0]

2

17. Create a tuple with a single element.

In [70]:
t=(1,)

In [71]:
type(t)

tuple

18. Compare two tuples.

In [72]:
t1=(1,2,3)
t2=(2,3,4)

In [73]:
t1==t2

False

In [74]:
t1<t2

True

In [75]:
t1>t2

False

19. Delete a tuple.

In [76]:
del t1

In [77]:
t1

NameError: name 't1' is not defined

20. Slice a tuple.

In [80]:
t3

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [81]:
t3[2:7]

(6, 8, 10, 1, 3)

## Set Based Practice Problem 11-20

11. Find the difference between two sets.

In [83]:
s1={1,1,2,2,3,3}
s2={2,2,3,3,4,4}

In [84]:
s1

{1, 2, 3}

In [85]:
s2

{2, 3, 4}

In [87]:
s2.difference(s1)

{4}

12. Check if a set is a subset of another set.

In [89]:
s1=set(range(1,20))
s2=set(range(5,10))
s2.issubset(s1)

True

13. Check if a set is a superset of another set.

In [90]:
s1=set(range(1,20))
s2=set(range(5,10))
s1.issubset(s1)

True

14. Create a set from a list.

In [91]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [92]:
s=set(l)

In [93]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

15. Convert a set to a list.

In [94]:
l=list(s)

In [95]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

16. Remove a random element from a set.

In [98]:
s.pop()

2

In [107]:
s

{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

17. Pop an element from a set.

In [110]:
s.remove(4)

In [111]:
s

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

18. Check if two sets have no elements in common.

In [117]:
s1=set(range(1,6))

In [124]:
if s1.intersection(s) is None:
    print('no elements common')
else:
    print('common element',s1.intersection(s))

common element {5}

19. Find the symmetric difference between two sets.

In [125]:
s1

{1, 2, 3, 4, 5}

In [126]:
s2

{5, 6, 7, 8, 9}

In [127]:
s2.symmetric_difference(s1)

{1, 2, 3, 4, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [129]:
s2.update(s1)

In [130]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## TOPIC: String Based Assignment Problem 21-50

21. Find the shortest word in a string.

In [137]:
my_str = input('Enter string')
l = my_str.split(" ")
smallest_word=""
count=len(my_str)
for x in l:
    if count>len(x):
        count=len(x)
        smallest_word = x
    elif count == len(x):
        smallest_word = smallest_word + ", " + x

print(smallest_word)

Enter string quick brown fox jumps over the lazy dog

fox, the, dog

In [138]:
s1= sorted(l,key=len)

In [139]:
s1[0]

'fox'

22. Reverse the order of words in a string.

In [142]:
my_str

'quick brown fox jumps over the lazy dog'

In [144]:
my_str.split()[::-1]

['dog', 'lazy', 'the', 'over', 'jumps', 'fox', 'brown', 'quick']

23. Check if a string is alphanumeric.

In [145]:
my_str.isalnum()

False

24. Extract all digits from a string.

In [153]:
my_str = '123ab213basdas213b1231322b3b323b'
num=[]
for x in my_str:
    if x in ['0','1','2','3','4','5','6','7','8','9']:
        num.append(x)
print(num)

['1', '2', '3', '2', '1', '3', '2', '1', '3', '1', '2', '3', '1', '3', '2', '2', '3', '3', '2', '3']

In [158]:
my_str = '123rt6yu'
num=[]
for x in my_str:
    if x.isdigit():
        num.append(x)
print(num)

['1', '2', '3', '6']

25. Extract all alphabets from a string.

In [160]:
my_str = '123rt6yu'
alphabets=[]
for x in my_str:
    if x.isalpha():
        alphabets.append(x)
print(alphabets)

['r', 't', 'y', 'u']

26. Count the number of uppercase letters in a string.

In [163]:
my_str = '123rt6yuABC'
alphabets=[]
for x in my_str:
    if x.isupper():
        alphabets.append(x)
print(alphabets)
print(len(alphabets))

['A', 'B', 'C']
3

27. Count the number of lowercase letters in a string.

In [164]:
my_str = '123rt6yuABC'
alphabets=[]
for x in my_str:
    if x.islower():
        alphabets.append(x)
print(alphabets)
print(len(alphabets))

['r', 't', 'y', 'u']
4

28. Swap the case of each character in a string.

In [170]:
my_str = 'Rt6yu'
alphabets=" "
for x in my_str:
    alphabets = alphabets + x.swapcase()

print(alphabets)

 rT6YU

29. Remove a specific word from a string.

In [177]:
my_str = 'hello world hello Kitty'
word = 'hello'

l=list(my_str.split())
l.remove(word)
my_str = " ".join(l)

In [181]:
my_str.replace('hello','')

'world  Kitty'

In [182]:
my_str

'world hello Kitty'

30. Check if a string is a valid email address.

In [188]:
my_email = input('Enter email')
if my_email.split('@')[1].endswith('gmail.com'):
    print('valid email')

Enter email h@gmail.com

valid email

In [184]:
my_email

'hello@gmail.com'

31. Extract the username from an email address string.

In [190]:
my_email = input('Enter email')
username = my_email.split('@')[0]
print('username is',username)

Enter email hello@gmail.com

username is hello

32. Extract the domain name from an email address string.

In [191]:
my_email = input('Enter email')
domain = my_email.split('@')[1]
print('domain is',domain)

Enter email hello@gmail.com

domain is gmail.com

33. Replace multiple spaces in a string with a single space.

In [206]:
my_str = '       hello          world      hello    smiti    '

print(" ".join(my_str.split()))

hello world hello smiti

In [202]:
" ".join(my_str.split())

'hello world'

34. Check if a string is a valid URL.

Need more knowledge

35. Extract the protocol (http or https) from a URL string.

In [207]:
my_email = input('URL')
protocol = my_email.split('://')[0]
print('protocol is',protocol)

URL https://red-baker-beemk.pwskills.app/lab/tree/work/Practice.ipynb

protocol is https

36. Find the frequency of each character in a string.

In [214]:
my_str = 'A quick brown fox'
d={}
for x in my_str.replace(" ",""):
    d[x]=my_str.count(x)

print(d)

{'A': 1, 'q': 1, 'u': 1, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 1, 'o': 2, 'w': 1, 'n': 1, 'f': 1, 'x': 1}

37. Remove all punctuation from a string.

In [3]:
my_str = "A,. quick:;'' !brown fox"
punc=['!',"'",'"',",",".","?","'",":",";"]

for x in my_str:
    if x in punc:
        my_str=my_str.replace(x,"")

print(my_str)

A quick brown fox

38. Check if a string contains only digits.

In [4]:
my_str = "A,. quick:;'' !brown fox"
my_str.isdigit()

False

39. Check if a string contains only alphabets.

In [5]:
my_str = "A,. quick:;'' !brown fox"
my_str.isalpha()

False

40. Convert a string to a list of characters.

In [6]:
my_str = "A,. quick:;'' !brown fox"
l=[]
for x in my_str:
    l.append(x)
print(l)

['A', ',', '.', ' ', 'q', 'u', 'i', 'c', 'k', ':', ';', "'", "'", ' ', '!', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x']

41. Check if two strings are anagrams.

In [11]:
str1='hello world'
str2= 'whello orld'
dic1={}
dic2={}
for x in str1:
    dic1[x]=str1.count(x)
for y in str2:
    dic2[y]=str2.count(y)

In [12]:
dic1

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [13]:
dic2

{'w': 1, 'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'r': 1, 'd': 1}

In [14]:
dic1==dic2

True

42. Encode a string using a Caesar cipher.

NEED HELP

43. Decode a Caesar cipher encoded string.

Need HELP

44. Find the most frequent word in a string.

In [24]:
my_str= 'Hello World Hello Hello India India  '
l=my_str.split()
count=0
word=''
for x in l:
    if l.count(x) > count:
        count = l.count(x)
        word = "".join(x)
    elif l.count(x) == count:
        word = x

print(word)

Hello

45. Find all unique words in a string.

In [27]:
my_str= 'Hello World Hello Hello India India  '
my_set=set(my_str.split())

In [28]:
my_set

{'Hello', 'India', 'World'}

46. Count the number of syllables in a string.

Need Help

47. Check if a string contains any special characters.

In [35]:
my_str= 'Hello World Hello Hello India India !@#$ &'
l=[]
specialchar=['!','@','#','$','%','^','&','_']
for x in my_str:
    if x in specialchar:
        l.append(x)
    else:
        pass
if len(l)>0:
    print('Contains special char',l)
else:
    print('No special char')

Contains special char ['!', '@', '#', '$', '&']

48. Remove the nth word from a string.

In [45]:
my_str= 'Hello World Hello Hello India India !@#$ &'
index1= int(input('Enter the pos of the word to be deleted'))
l1=list(my_str.split())
l1.pop(index1)
print(l1)

Enter the pos of the word to be deleted 3

['Hello', 'World', 'Hello', 'India', 'India', '!@#$', '&']

49. Insert a word at the nth position in a string.

In [44]:
my_str= 'Hello World Hello Hello India India !@#$ &'
index2=int(input('enter the position'))
word=input('Enter the word to be inserted')
l=list(my_str.split())
l.insert(index2,word)
print(l)

enter the position 2
Enter the word to be inserted hello

['Hello', 'World', 'hello', 'Hello', 'Hello', 'India', 'India', '!@#$', '&']

50. Convert a CSV string to a list of lists.

Need Help

## List Based Practice Problem 21-50

21. Find the common elements between two lists.

In [4]:
l1=[1,2,5,78,9,34]
l2=[34,56,12,33,671,2,1]

In [5]:
l=[]
for x in l1:
    for y in l2:
        if x == y:
            l.append(x)

print(l)

[1, 2, 34]

22. Find the difference between two lists.

In [8]:
l1=[1,4,6,78,234]
l2=[23,45,1,3,2,1,4,78]

In [11]:
l=[]
for x in l1:
    for y in l2:
        if x == y:
            l2.remove(x)
           # l.append(y)
print(l2)

[23, 45, 3, 2]

23. Merge two lists.

In [13]:
l1=[1,4,6,78,234]
l2=[23,45,1,3,2,1,4,78]
l1+l2

[1, 4, 6, 78, 234, 23, 45, 1, 3, 2, 1, 4, 78]

24. Multiply all elements in a list by 2.

In [5]:
l2=[1,2,3]

In [6]:
l=[]
for x in l2:
    l.append(x*2)

In [7]:
l

[2, 4, 6]

25. Filter out all even numbers from a list.

In [31]:
l1= list(random.sample(range(1,100),random.randint(1,100)))

In [32]:
l1

[67, 90, 14, 34, 28, 33, 96, 41, 26, 17, 38, 77, 87, 8, 13, 70, 82, 3]

In [33]:
l=[]
for x in l1:
    if x%2==0:
        l.append(x)
l

[90, 14, 34, 28, 96, 26, 38, 8, 70, 82]

26. Convert a list of strings to a list of integers.

In [39]:
l=['123','1']
l1=[]

In [40]:
for x in l:
    l1.append(int(x))
l1

[123, 1]

27. Convert a list of integers to a list of strings.

In [46]:
l1
l2=[]

In [44]:
for x in l1:
    l2.append(str(x))
l2

['123', '1']

28. Flatten a nested list.

In [58]:
l1=[[1],[2],[3,4],[7,8]]
l2=[]

In [59]:
for x in l1:
    for y in x:
        l2.append(y)
l2

[1, 2, 3, 4, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [8]:
y=0
x=1
l=[0,1]
for a in range(1,20):
    temp=x+y
    l.append(temp)
    y=x
    x=temp
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

30. Check if a list is sorted.

In [62]:
l2 = [2,1,50,1,43,90]

In [63]:
l1= sorted(l2)

In [64]:
l1==l2

False

31. Rotate a list to the left by `n` positions.

In [10]:
l=[1,4,9,16,25,36,49]

n = int(input('enter shift num'))

l1= l[n:]+l[:n]
print(l1)

enter shift num 3

[16, 25, 36, 49, 1, 4, 9]

32. Rotate a list to the right by `n` positions.

In [2]:
l=[1,4,9,16,25,36,49]

n = int(input('enter shift num'))

l2= l[-n:]+l[:-n]
print(l2)

enter shift num 3

[25, 36, 49, 1, 4, 9, 16]

33. Create a list of prime numbers up to 50.

In [7]:
l=[]
for x in range(2,100):
    count=0
    for y in range(1,x+1):
        if (x%y) == 0:
            count = count+1
    if count == 2:
        l.append(x)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [6]:
l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [4]:
for x in range(2,100):
    count = 0
    for y in range(2,(x//2+1)):
        if x%y == 0:
            count += 1
            break
    
    if count==0:
        print(x, end= ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

34. Split a list into chunks of size `n`.

In [18]:
l = list(range(20))
chunk = int(input('enter chunk size'))
while l:
    new, l = l[:chunk], l[chunk:]
    print(new)

enter chunk size 5

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[10, 11, 12, 13, 14]
[15, 16, 17, 18, 19]

35. Find the second largest number in a list.

In [20]:
l = list(range(20,50))

In [21]:
l.sort()

In [23]:
l[-2]

48

36. Replace every element in a list with its square.

In [31]:
l=list(range(10))
for x in range(len(l)):
    l[x]=l[x]**2

print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [34]:
l = list(range(20,30))
d={}
for y,x in enumerate(l):
    d[x]=y

In [35]:
d

{20: 0, 21: 1, 22: 2, 23: 3, 24: 4, 25: 5, 26: 6, 27: 7, 28: 8, 29: 9}

38. Shuffle the elements of a list randomly.

In [37]:
import random

In [38]:
random.shuffle(l)

In [39]:
l

[25, 23, 22, 29, 21, 24, 28, 20, 27, 26]

39. Create a list of the first 10 factorial numbers.

In [43]:
l=[]
a=1
temp=1
while a <11:
    temp=a*temp
    a+=1
    l.append(temp)
print(l)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [46]:
l1=[1,2,5,6,8,9]
l2=[1,7,8,11,22,33]
l3=[]
for x in l1:
    if x in l2:
        l3.append(x)
if len(l3) > 0:
    print('Lists l1 and l2 have common elements',l3)
else:
    print('Lists l1 and l2 have no common element')

Lists l1 and l2 have common elements [1, 8]

41. Remove all elements from a list.

In [47]:
l=list(range(10))

In [48]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
l.clear()

In [50]:
l

[]

42. Replace negative numbers in a list with 0.

In [51]:
l=[-1,-2,-5,1,2,4,-9]

for x in range(len(l)):
    if l[x]<0:
        l[x] = 0
print(l)

[0, 0, 0, 1, 2, 4, 0]

43. Convert a string into a list of words.

In [53]:
mystr= 'hello world'
l= mystr.split()
print(l)

['hello', 'world']

44. Convert a list of words into a string.

In [55]:
l

['hello', 'world']

In [56]:
newstr= " ".join(l)

In [57]:
newstr

'hello world'

45. Create a list of the first `n` powers of 2.

In [62]:
l=[]
n=int(input('Enter n'))
for x in range(n+1):
    l.append(2**x)
print(l)

Enter n 10

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

46. Find the longest string in a list of strings.

In [63]:
l=['hello','wor','demasiado','caro']
strlen=0
word=' '
for x,y in enumerate(l):
    if len(y)>strlen:
        strlen=len(y)
        word = y
print('the longest word is', word)

the longest word is demasiado

47. Find the shortest string in a list of strings.

In [64]:
l=['hello','wor','demasiado','caro']
strlen=100
word=' '
for x,y in enumerate(l):
    if len(y)<strlen:
        strlen=len(y)
        word = y
print('the shortest word is', word)

the shortest word is wor

48. Create a list of the first `n` triangular numbers.

In [18]:
x=1
y=0
l=[]
n=int(input())
for i in range(n):
    temp = x+y
    l.append(temp)
    y=temp
    x+=1
print(l)

 3

[1, 3, 6]

49. Check if a list contains another list as a subsequence.

In [72]:
l=[1,2,3,4,5,6]
l1=[2,3,4]
s= set(l)
s1=set(l1)
s1.issubset(s)

True

50. Swap two elements in a list by their indices.

In [5]:
l=list(range(10))

In [6]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
x = int(input("Enter index 1"))
y = int(input("Enter index 2"))
l[x],l[y] = l[y], l[x]
print(l)

Enter index 1 1
Enter index 2 2

[0, 1, 3, 2, 4, 5, 6, 7, 8, 9]

## Tuple Based Practice Problem : 21 - 50

21. Find the maximum value in a tuple.

In [11]:
t = (1,2,3,4,22,33,1312,445345,242,890)
max(t)

445345

22. Find the minimum value in a tuple.

In [12]:
t = (1,2,3,4,22,33,1312,445345,242,890)
min(t)

1

23. Convert a string to a tuple of characters.

In [17]:
mystring = "hello world"
l = tuple([ x for x in mystring])

In [18]:
l

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

24. Convert a tuple of characters to a string.

In [21]:
str =''
for x in l:
    str = str+x
print(str)

hello world

25. Create a tuple from multiple data types.

In [38]:
l=[]
y=""
while y!='quit':
    l.append(y)
    y = input("enter any thing, write quit to exit the loop")


x = tuple(l[1::])
print(x)

enter any thing, write quit to exit the loop 231
enter any thing, write quit to exit the loop shasd
enter any thing, write quit to exit the loop JSSDd
enter any thing, write quit to exit the loop quitr
enter any thing, write quit to exit the loop quit

('231', 'shasd', 'JSSDd', 'quitr')

26. Check if two tuples are identical.

In [42]:
t = tuple(range(10))
t1 = tuple(range(100))

if set(t) == set(t1):
    print(True)
else:
    print(False)

False

27. Sort the elements of a tuple.

In [46]:
t = (1,2,41,2,324,12,24,45,6,7,10029,2312)

In [47]:
t= sorted(t)

In [48]:
t

[1, 2, 2, 6, 7, 12, 24, 41, 45, 324, 2312, 10029]

28. Convert a tuple of integers to a tuple of strings.

In [56]:
mystr = ''
for x in t:
    mystr = mystr+ ' '+ str(x)
print(mystr)

 1 2 2 6 7 12 24 41 45 324 2312 10029

29. Convert a tuple of strings to a tuple of integers.

In [57]:
l=[]
t1 = ('1','2','3','4')
for x in t1:
    l.append(int(x))
t2= tuple(l)
print(t2)

(1, 2, 3, 4)

30. Merge two tuples.

In [58]:
t2= (1,2,3,4)
t3 = tuple(range(10))
l2 = list(t2)

for x in t3:
    l2.append(x)
t4 = tuple(l2)
print(t4)

(1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

31. Flatten a nested tuple.

In [4]:
l=[]
t=((1,2),(2,3),(3,4))
for a, b in t:
    l.append(a)
    l.append(b)
t = tuple(l)
print(t)

(1, 2, 2, 3, 3, 4)

32. Create a tuple of the first 5 prime numbers.

In [2]:
l=[]
for x in range(2,12):
    count=0
    for y in range(2,x//2+1):
        if x%y == 0:
            count+=1
            break
    if count == 0:
        l.append(x)
        
t=tuple(l)
print(t)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [9]:
t = (1,2,3,2,1)
if (t[::]==t[::-1]):
    print('the tuple is a palindrome')
else:
    print('the tuple is not a palindrome')

the tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [11]:
l=[]
x=1
while x<=5:
    l.append(x**2)
    x+=1
t=tuple(l)
print(t)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [12]:
t=tuple(range(20))

In [13]:
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [14]:
l=list(t)
for x in l:
    if x%2==0:
        l.remove(x)
t=tuple(l)
print(t)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

36. Multiply all elements in a tuple by 2.

In [15]:
t

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [20]:
l=list(t)
for x,y in enumerate(l):
    l[x]=y**2
t=tuple(l)
print(t)

(1, 9, 25, 49, 81, 121, 169, 225, 289, 361)

37. Create a tuple of random numbers.

In [21]:
import random

In [40]:
t=tuple(range(20,random.randrange(30,50)))

In [41]:
t

(20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30)

38. Check if a tuple is sorted.

In [8]:
t=(1,2,3)

In [9]:
l=list(t)
if sorted(l)==l:
    print('the tuple is sorted')
else:
    print('the tuple is not sorted')

the tuple is sorted

39. Rotate a tuple to the left by `n` positions.

In [10]:
t=(1,2,33,44,5,1,23,4)

In [11]:
l=list(t)

In [15]:
n = int(input('Enter by how many pos you want to rotate the tuple'))

l1= l[n::]+l[:n]
t1=tuple(l1)
print(t1)

Enter by how many pos you want to rotate the tuple 1

(2, 33, 44, 5, 1, 23, 4, 1)

40. Rotate a tuple to the right by `n` positions.

In [18]:
t=(1,2,33,44,5,1,23,4)
l=list(t)
n = int(input('Enter by how many pos you want to rotate the tuple'))

l1= l[-n:]+l[:-n]
t1=tuple(l1)
print(t1)

Enter by how many pos you want to rotate the tuple 2

(23, 4, 1, 2, 33, 44, 5, 1)

41. Create a tuple of the first 5 Fibonacci numbers.

In [24]:
x=1
y=0
temp=0
l2=[]
for a in range(5):
    temp=x+y
    y=x
    x=temp
    l2.append(temp)
print(tuple(l2))

(1, 2, 3, 5, 8)

42. Create a tuple from user input.

In [5]:
l=[]
n=''
while n!='quit':
    n = input('Enter values to list')
    l.append(n)
l.pop()
print(tuple(l))

Enter values to list y
Enter values to list i
Enter values to list o
Enter values to list quit

('y', 'i', 'o')

43. Swap two elements in a tuple.

In [7]:
t=(1,2,3,5,6,7,232,345,323,86)

In [8]:
l1=list(t)

In [11]:
n= int(input('enter the position 1 you want to swap'))
m= int(input('enter the position 2 you want to swap'))
l1[n],l1[m]=l1[m],l1[n]
print(tuple(l1))

enter the position 1 you want to swap 6
enter the position 2 you want to swap 9

(1, 6, 5, 3, 2, 7, 86, 345, 323, 232)

44. Reverse the elements of a tuple.

In [12]:
t= tuple(range(10))

In [13]:
t1=t[::-1]
print(t1)

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

45. Create a tuple of the first `n` powers of 2.

In [16]:
l=[]
n=int(input('enter the power of 2 till which you want to store the value in the tuple'))
for x in range(n):
    l.append(2**x)
print(tuple(l))

enter the power of 2 till which you want to store the value in the tuple 20

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288)

46. Find the longest string in a tuple of strings.

In [19]:
t=('hello', 'worlds', 'of', 'the', 'universe')
strlen=0
for x in (t):
    if strlen<len(x):
        strlen=len(x)
print('the longest string in the tuple is',x)

the longest string in the tuple is universe

47. Find the shortest string in a tuple of strings.

In [25]:
strlen = 10000000
word = ''
t=('hello', 'worlds', 'of', 'the', 'universe')
for x in (t):
    if strlen>len(x):
        strlen=len(x)
        word = x
print('the shortest string in the tuple is',word)

the shortest string in the tuple is of

48. Create a tuple of the first `n` triangular numbers.

In [3]:
l = []
n= int(input('Enter value of n'))
x=1
y=0
for a in range(n):
    temp = x+y
    x+=1
    y=temp
    l.append(temp)
print(tuple(l))

Enter value of n 6

(1, 3, 6, 10, 15, 21)

49. Check if a tuple contains another tuple as a subsequence.

In [6]:
t= (1,2,3,5,6,7,8,9,10)
t1 = (78,)

if set(t1).issubset(t):
    print('True')
else:
    print('False')

False

50. Create a tuple of alternating 1s and 0s of length `n`.

In [9]:
n = int(input('Enter the value of n'))
t = [x%2 for x in range(n)]
print(tuple(t))

Enter the value of n 10

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [8]:
t

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

# Set Based Practice Problem : 21 - 50

21. Create a set of the first 5 prime numbers.

In [8]:
s= set()
type(s)

set

In [9]:
n= int(input("Enter n"))
for x in range(2,n+1):
    count = 0
    for y in range(1,x+1):
        if x%y==0:
            count+=1
    if count == 2:
        s.add(x)
            
print(s)

Enter n 7

{2, 3, 5, 7}

22. Check if two sets are identical.

In [1]:
s1={11,22,3,4,11,3,4,4}
s2={22,11,3,4}
if s1 == s2:
    print('the sets are identical')

the sets are identical

23. Create a frozen set.

In [2]:
s3={1,2,3,4,5,1,2,3,4,5,1,2,3,4,5}
f=frozenset(s3)

In [3]:
f

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [6]:
s1={1,2,3}
s2={1,6,7}

In [7]:
s1.isdisjoint(s2)

False

25. Create a set of squares of numbers from 1 to 5.

In [10]:
s4 = set()
n =int(input('enter the value of n'))
for x in range(1,n+1):
    s4.add(x**2)

print(s4)

enter the value of n 5

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [20]:
s1 = set({1,2,3,4,5,6})

In [21]:
list(s1)

[1, 2, 3, 4, 5, 6]

In [22]:
for x in list(s1):
    if x%2==0:
        s1.discard(x)

In [23]:
s1

{1, 3, 5}

27. Multiply all elements in a set by 2.

In [71]:
s2={1,2,3,4}
s3=set()
for x in s2:
    s3.add(x*2)
print(s3)

{8, 2, 4, 6}

28. Create a set of random numbers.

In [1]:
import random

In [7]:
s = set(random.sample(range(100),20))

In [8]:
s

{1, 8, 10, 14, 16, 25, 27, 30, 32, 54, 57, 63, 66, 70, 72, 81, 83, 86, 95, 96}

29. Check if a set is empty.

In [12]:
s=set({1})

In [13]:
s

{1}

In [15]:
if len(list(s)) == 0:
    print('the set is empty')
else:
    print('the set is not empty')

the set is not empty

30. Create a nested set (hint: use frozenset).

In [16]:
s = set([frozenset([1,2]), frozenset([3,4])])

In [17]:
s

{frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [18]:
s={1,2,3,4,5,6}

In [21]:
s.discard(10)

In [22]:
s.discard(2)

In [23]:
s

{1, 3, 4, 5, 6}

32. Compare two sets.

In [24]:
s1= {1,2,3,4}
s2={2,3,4,5}
s1 == s2

False

33. Create a set from a string.

In [2]:
mystr= 'hello world'
s = set()
for x in mystr:
    s.add(x)
print(s)

{'h', 'l', 'w', 'r', 'o', 'e', ' ', 'd'}

34. Convert a set of strings to a set of integers.

In [4]:
s={'1','2','1','1','2'}
s1=set()
for x in s:
    s1.add(int(x))
print(s1)

{1, 2}

35. Convert a set of integers to a set of strings.

In [5]:
s1

{1, 2}

In [6]:
s2=set()
for x in s1:
    s2.add(str(x))
print(s2)

{'1', '2'}

36. Create a set from a tuple.

In [7]:
t = (1,1,2,3,4,5,6)
s3=set()
for x in t:
    s3.add(x)
print(s3)

{1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [8]:
s3

{1, 2, 3, 4, 5, 6}

In [9]:
t1= tuple(s3)

In [10]:
t1

(1, 2, 3, 4, 5, 6)

38. Find the maximum value in a set.

In [11]:
s3

{1, 2, 3, 4, 5, 6}

In [12]:
max(s3)

6

39. Find the minimum value in a set.

In [13]:
s3

{1, 2, 3, 4, 5, 6}

In [14]:
min(s3)

1

40. Create a set from user input.

In [21]:
k=False
s4=set()
while not k:
    x= input('Do you want to enter values to the set, y or n: ')
    if x == 'n':
        k=False
        break
    elif x=='y':
        y = input('Enter values to set: ')
        s4.add(y)
    else:
        print('Enter y or n correctly')
print(s4)

Do you want to enter values to the set, y or n:  y
Enter values to set:  22
Do you want to enter values to the set, y or n:  y
Enter values to set:  33
Do you want to enter values to the set, y or n:  y
Enter values to set:  44
Do you want to enter values to the set, y or n:  y
Enter values to set:  22
Do you want to enter values to the set, y or n:  n

{'22', '33', '44'}

41. Check if the intersection of two sets is empty.

In [28]:
s1={8,9}

In [29]:
s3

{1, 2, 3, 4, 5, 6}

In [30]:
if len(s1.intersection(s3))==0:
    print('the intersection of two sets is empty')
else:
    print(s1.intersection(s3))

the intersection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [34]:
s6=set()
temp = 0
x= 1
y = 0
for k in range(6):
    temp = x+y
    y=x
    x=temp
    s6.add(temp)

In [35]:
s6

{1, 2, 3, 5, 8, 13}

43. Remove duplicates from a list using sets.

In [36]:
l = [1,2,3,4,1,2,5,6,7,2,7]
s7 = set(l)

In [37]:
s7

{1, 2, 3, 4, 5, 6, 7}

44. Check if two sets have the same elements, regardless of their count.

In [44]:
s1= {1,1,2,2,3,3,3,4,5,5,6,7}
s2 ={1,2,3,4,5,6,7}

In [45]:
s1==s2

True

45. Create a set of the first `n` powers of 2.

In [46]:
n=int(input('Enter till what power of n you want the number in the set'))
s1=set()
for x in range(n):
    s1.add(2**x)
print(s1)

Enter till what power of n you want the number in the set 4

{8, 1, 2, 4}

46. Find the common elements between a set and a list.

In [52]:
s1={1,2,3,4,1,2,3,4}
l=[2,3,5,6]

In [53]:
s2= set(l)

In [54]:
s4=s1.intersection(s2)

In [55]:
s4

{2, 3}

47. Create a set of the first `n` triangular numbers.

In [60]:
temp=0
n = int(input('Enter n'))
y=0
s2=set()
for x in range(1,n+1):
    temp = x+y
    y = temp
    s2.add(temp)
print(s2)

Enter n 6

{1, 3, 6, 10, 15, 21}

48. Check if a set contains another set as a subset.

In [65]:
s1= {1,2,3,4}
s2= {46,1}

In [66]:
if s2.issubset(s1):
    print('s2 is a subset of s1')
else:
    print('s2 is not a subset of s2')

s2 is not a subset of s2

49. Create a set of alternating 1s and 0s of length `n`.

In [68]:
n = int(input('Enter no, of digits'))
s2=set()
for x in range(n):
    if x%2==0:
        s2.add(1)
    else:
        s2.add(0)
print(s2)

Enter no, of digits 7

{0, 1}

50. Merge multiple sets into one.

In [69]:
s1={1,2,3,4}
s2={2,3,4,5,6}
s3={4,5,6,7,89,0}

In [70]:
s1.union(s2,s3)

{0, 1, 2, 3, 4, 5, 6, 7, 89}